In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('dataset.csv')
data.columns = data.columns.str.strip()
data

   example     sky air temp humidity     wind  water  forcast enjoy sport
0        1   sunny     warm   normal   strong   warm     same         yes
1        2   sunny     warm     high   strong   warm     same         yes
2        3   rainy     cold     high   strong   warm   change          no
3        4   sunny     warm     high   strong   warm   change         yes

In [3]:
concepts = np.array(data)[:,:-1]
concepts

array([[1, ' sunny', ' warm', ' normal', ' strong', ' warm', ' same'],
       [2, ' sunny', ' warm', ' high', ' strong', ' warm', ' same'],
       [3, ' rainy', ' cold', ' high', ' strong', ' warm', ' change'],
       [4, ' sunny', ' warm', ' high', ' strong', ' warm', ' change']],
      dtype=object)

In [4]:
target= np.array(data)[:,-1]

In [5]:
target

array([' yes', ' yes', ' no', ' yes'], dtype=object)

In [6]:
def train(con, tar):
  for i , val in enumerate(tar):
    if val == ' yes':
        specific_h = con[i].copy()
        break

  for  i ,val in enumerate(con):
        if tar[i] ==' yes':
         for x in range (len(specific_h)):
             if val [x] != specific_h[x]:
                 specific_h[x] = '?'

             else:
                 pass
        return specific_h

In [7]:
  print(train(concepts,target))

[1 ' sunny' ' warm' ' normal' ' strong' ' warm' ' same']

In [8]:
print(set(target))

{' yes', ' no'}