In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.naive_bayes import MultinomialNB

In [2]:
df= pd.read_csv("naivebayes2.csv")
df.columns = df.columns.str.strip()

In [3]:
df

   Color  Legs  Height Smelly Species
0  White     2    Tall     No       H
1  Green     4   Short    Yes       M
2  Green     4    Tall     No       M
3  White     4   Short    Yes       H
4  Green     2   Short     No       M
5  White     8   Short    Yes       M
6  White     2    Tall     No       H
7  White     4    Tall    Yes       H

In [4]:
def run_naive_bayes_classification():
    print("DATASET")
    print(df)

    print("\nProcessing...")

    X = df.drop(columns=['Species'])
    y = df['Species']

    encoder = OneHotEncoder(handle_unknown='ignore')
    X_encoded = encoder.fit_transform(X)

    X_train, X_test, y_train, y_test = train_test_split(
        X_encoded, y, test_size=0.25, random_state=42
    )

    model = MultinomialNB()
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred) * 100
    print(f"Accuracy: {accuracy:.2f}%")


    print("Predictions:", y_pred)
    print("Actual:", list(y_test))
    print("Accuracy:", accuracy)

In [5]:
run_naive_bayes_classification()

DATASET
   Color  Legs  Height Smelly Species
0  White     2    Tall     No       H
1  Green     4   Short    Yes       M
2  Green     4    Tall     No       M
3  White     4   Short    Yes       H
4  Green     2   Short     No       M
5  White     8   Short    Yes       M
6  White     2    Tall     No       H
7  White     4    Tall    Yes       H

Processing...
Accuracy: 50.00%
Predictions: [' M' ' H']
Actual: [' M', ' M']
Accuracy: 50.0